*{
  font-family: 'Open Sans Condensed', sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
}
div.banner{
  background: url("20160702_082347.jpg") no-repeat center center; 
  background-size: cover;
  opacity: 1;
  height: 300px;
  padding: 20px;
  margin: 20px;
}
#banner_text{
  line-height: 300px;
  text-align: center;
  font-size: 500%;
  opacity: 1;
}

div.navigation_bar{
  text-align: center;
  background-color: #CFCFCF;
  padding: 15px 0px;  
}
li {
  display: inline;
  /*border: 1px solid Blue;*/
  margin: 10px;
  font-size: 30px;
  padding: 15px 5px;
  color: #717C7F;
  
}

a{
  text-decoration: none;
}

li.active {
    background-color: #93bac1;
    color: white;
}

li:hover:not(.active) {
    background-color: #555;
    color: white;
}

.about_us{
  margin: 10px;
  padding: 20px;
  color: #8C8380;
  font-size: 20px;
  text-align: center;
}